
.carousel{
	position: relative;
	overflow: hidden;
}

.carousel-inner{
	position: relative;
	transform:translatez(0);
}
.carousel-item{
	padding-bottom: 1em; /// BAD IDEA ! 
	float:left;
	max-width: @large-screen-width/2;
	z-index: 1;

	@media all and (max-width:@large-screen-width){
		max-width: @middle-screen-width;
	}
	@media all and (max-width:@middle-screen-width){
		max-width:550px;
	}
}

.carousel-prev{
	position: absolute;
	top:50%;
	left:0px;
	cursor: pointer;
	background: url("../images/gallery-left-gray-arrow.png");
	width: 60px;
	height: 60px;
	z-index: 2;
}

.carousel-next{
	position: absolute;
	top:50%;
	right:0px;
	cursor: pointer;
	background: url("../images/gallery-right-gray-arrow.png");
	width: 60px;
	height: 60px;
	z-index: 2;
}
