
.ico{
	width:39px;
	height: 39px;
	display: inline-block;
}

.icoFB{
	&:extend(.ico);
	background:url('../images/FB-icon.png') no-repeat;
	&:hover{
		background:url('../images/FB-icon-hover.png') no-repeat;
	}
}

.icoTwitter{
	&:extend(.ico);
	background:url('../images/Twiter-Icon.png') no-repeat;
	&:hover{
		background:url('../images/Twiter-Icon.png') no-repeat;
	}
}

.icoGP{
	&:extend(.ico);
	background:url('../images/gplus-icon.png') no-repeat;
	&:hover{
		background:url('../images/gplus-icon-hover.png') no-repeat;
	}
}

.icoLinked{
	&:extend(.ico);
	background:url('../images/LinkedIn-Icon.png') no-repeat;
	&:hover{
		background:url('../images/LinkedIn-Icon-hover.png') no-repeat;
	}
}