
//BACKGROUND & COLOR
.bg-gray{
	background: @gray;
}


.blue{
	color:@blue;
}

.text-gray{
	color:@text-gray;
}

.li-gray{
	color:@li-gray;
}

//PULL & PUSH
.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

//LIST
.unstyled{
	list-style: none;
}

.horizontal{
	li{
		display: inline;
	}
}

// GRID
.span3{
	width:25%;
	float:left;
	.clearfix();
}


//TYPOGRAPHY
.bold{
	font-weight: bold;
}

.double-border{
	border-style: double;
}
