
@icon-font-path: "../fonts/glyphicons/";
@large-screen-width : 960px;
@middle-screen-width: 768px;

/**BEGINING OF COLOR PALLETTES*/
@li-gray :#cccccc;
@grey : #616161;
@green : #88a73c;
@purple : #805e9c;
@li-purple :#e8e8e8;
@black : #1A1E21;
@dark-black:#242424;
@red : #c72d29;
@blue : #55b6ce;

@gray : #333333;
@blur-gray: #666666;
@white: #ffffff;
@text-gray:#4e4e4e;
@text-black:#999999;
@line-gray:#3e3e3e;
@button-black:#323232;
@hover-black:#323639;
/*END OF COLOR PALLETTES*/


